.productsContainer, .listContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsContainer > div{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.productsContainer > div > a{
    width: 300px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000;
}

.productsContainer > div > a > div{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066FF2B;
    position: relative;
} 

.productsContainer > div > a > div > .cartIcon{
    position: absolute;
    bottom: 4%;
    right: 4%;
    box-sizing: content-box;
    background-color: #fff;
    color: #1D7000;
    font-size: 40px;
    padding: 15px;
    border-radius: 50%;
}

.productsContainer > div > a > div > img{
    max-height: 80%;
    width: 80%;
    height: auto;
}

.productsContainer > div > a > h2{
    font-size: 23px;
    font-weight: 600;
    margin: 10px 0 0 10px;
}

.productsContainer > div > a > h3{
    font-size: 23px;
    font-weight: 500;
    margin: 10px 0 0 10px;
}


.noProducts{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    color: #0000003b;
    padding: 10% 0;
    text-transform: uppercase;
}

.listContainer{
    flex-direction: column;
    margin: 40px 0;
}

.listContainer > div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.listContainer > div > div:nth-child(1){
    width: 300px;
    height: 300px;
    background-color: #0066FF2B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.listContainer > div > div:nth-child(1) > .cartIcon{
    position: absolute;
    bottom: 4%;
    right: 4%;
    box-sizing: content-box;
    background-color: #fff;
    color: #1D7000;
    font-size: 40px;
    padding: 15px;
    border-radius: 50%;
}

.listContainer > div > div:nth-child(1) > img{
    width: 240px;
    height: auto;
    max-height: 240px;
}

.listContainer > div > div:nth-child(2){
    width: 70%;
}

.listContainer > div > div:nth-child(2) > h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}

.listContainer > div > div:nth-child(2) > h3{
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    margin: 5px 0;
}

.listContainer > div > div:nth-child(2) > h2{
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    margin: 10px 0;
}

.listContainer > div > div:nth-child(2) > a{
    text-decoration: none;
    width: 120px;
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    padding: 4px 15px;
    background-color: #2E0052;
    border-radius: 40px;
}


@media screen and (max-width: 700px) {
    
    .productsContainer > div{
        margin-top: 30px;
    }
    
    .productsContainer > div > a{
        width: 42vw;
        margin-bottom: 30px;
        border: 1px solid #CECECE;
        border-radius: 5px;
    }
    
    .productsContainer > div > a > div{
        width: 100%;
        height: 42vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0066FF2B;
        position: relative;
    } 
    
    .productsContainer > div > a > div > .cartIcon{
        font-size: 20px;
        padding: 10px;
    }
    
    .productsContainer > div > a > h2{
        font-size: 12px;
        margin: 10px 0 0 10px;
    }
    
    .productsContainer > div > a > h3{
        font-size: 12px;
        font-weight: 500;
        margin: 5px 0 5px 10px;
    }

}