.feedbackIcon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3%;
    right: 13%;
    background-color: #000;
    cursor: pointer;
}

.feedbackIcon > :first-child{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.feedbackForm{
    width: 400px;
    height: 420px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 21%;
    right: 2%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
}

.feedbackForm > div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.feedbackForm > div > label{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.feedbackForm > div > select{
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #919191;
    color: #919191;
    width: 100%;
    height: 50px;
    border-radius: 0;
    background-color: #F3F3F3;
}

.feedbackForm > div > textarea{
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #919191;
    color: #919191;
    width: 100%;
    height: 50px;
    background-color: #F3F3F3;
    padding: 10px;
    height: 180px;
    outline: none;
}

.error > p{
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    color: red;
    margin-left: 5px;
    margin-top: 5px;
}

.feedbackForm > div > .redBorder{
    border-color: red;
}

@media screen and (max-width: 700px) {
    .feedbackIcon{
        width: 70px;
        height: 70px;
        bottom: 8%;
        right: 18%;
    }
    
    .feedbackIcon > :first-child{
        font-size: 25px;
    }

    .feedbackForm{
        width: 300px;
        height: 320px;
        padding: 20px;
        bottom: 25%;
        right: 4%;
    }
    
    .feedbackForm > div > label{
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .feedbackForm > div > select{
        font-size: 12px;
        font-weight: 500;
        border: 1px solid #919191;
        color: #919191;
        width: 100%;
        height: 35px;
        margin: 0;
    }
    
    .feedbackForm > div > textarea{
        font-size: 12px;
        height: 150px;
    }
    
    .error > p{
        font-size: 10px;
    }
    
}